<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
{% extends "base.html" %}
{% load staticfiles %}
 
{% block head_js %}

{% endblock %}
 
{% block content %}


             <!-- Header -->
    <header id="top">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><strong><em>Welcome To Our Site!</em></strong></div>
                <a href="#about" class="btn btn-success"> About Us....<i class="em em-sunglasses"></i> </a>

            </div>
        </div>
    </header>


    <h3 id="about"> What Were All About....</h3>



    <h5><u>What Were All About</u></h5>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae imperdiet diam.
    Fusce consectetur sollicitudin rhoncus. Nunc dictum congue aliquam. Sed vel vehicula ex.
    Maecenas sit amet massa varius, fringilla nisl sed, auctor purus. Curabitur id enim in tortor rutrum rutrum.
    Morbi id purus pretium, interdum erat eu, hendrerit dui. Mauris vestibulum efficitur libero, non rutrum ligula sollicitudin ac.
    Nulla varius justo eget purus tincidunt eleifend vitae quis justo. Donec mollis, augue vitae semper pulvinar, metus risus semper magna,
    vitae porta erat sapien nec lacus. Etiam euismod nisl laoreet orci dapibus maximus. Nunc molestie porttitor consequat.
    Aliquam scelerisque commodo diam, at aliquet lorem venenatis ac. Curabitur id volutpat nunc.</p>

    <h5><u>What We Hope To Achieve</u></h5>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae imperdiet diam.
    Fusce consectetur sollicitudin rhoncus. Nunc dictum congue aliquam. Sed vel vehicula ex.
    Maecenas sit amet massa varius, fringilla nisl sed, auctor purus. Curabitur id enim in tortor rutrum rutrum.
    Morbi id purus pretium, interdum erat eu, hendrerit dui. Mauris vestibulum efficitur libero, non rutrum ligula sollicitudin ac.
    Nulla varius justo eget purus tincidunt eleifend vitae quis justo. Donec mollis, augue vitae semper pulvinar, metus risus semper magna,
    vitae porta erat sapien nec lacus. Etiam euismod nisl laoreet orci dapibus maximus. Nunc molestie porttitor consequat.
    Aliquam scelerisque commodo diam, at aliquet lorem venenatis ac. Curabitur id volutpat nunc.</p>

    <h5 ><u>Our Mission</u></h5>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae imperdiet diam.
    Fusce consectetur sollicitudin rhoncus. Nunc dictum congue aliquam. Sed vel vehicula ex.
    Maecenas sit amet massa varius, fringilla nisl sed, auctor purus. Curabitur id enim in tortor rutrum rutrum.
    Morbi id purus pretium, interdum erat eu, hendrerit dui. Mauris vestibulum efficitur libero, non rutrum ligula sollicitudin ac.
    Nulla varius justo eget purus tincidunt eleifend vitae quis justo. Donec mollis, augue vitae semper pulvinar, metus risus semper magna,
    vitae porta erat sapien nec lacus. Etiam euismod nisl laoreet orci dapibus maximus. Nunc molestie porttitor consequat.
    Aliquam scelerisque commodo diam, at aliquet lorem venenatis ac. Curabitur id volutpat nunc.</p>

    <h5><u>Get In Contact</u></h5>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae imperdiet diam.
    Fusce consectetur sollicitudin rhoncus. Nunc dictum congue aliquam. Sed vel vehicula ex.
    Maecenas sit amet massa varius, fringilla nisl sed, auctor purus. Curabitur id enim in tortor rutrum rutrum.
    Morbi id purus pretium, interdum erat eu, hendrerit dui. Mauris vestibulum efficitur libero, non rutrum ligula sollicitudin ac.
    Nulla varius justo eget purus tincidunt eleifend vitae quis justo. Donec mollis, augue vitae semper pulvinar, metus risus semper magna,
    vitae porta erat sapien nec lacus. Etiam euismod nisl laoreet orci dapibus maximus. Nunc molestie porttitor consequat.
    Aliquam scelerisque commodo diam, at aliquet lorem venenatis ac. Curabitur id volutpat nunc.</p>


    <ul>
    <li> By Phone: (00353) 85-123-1234 </li>
    <li> By Email: band_admin@example.com </li>
    <li><a href="#top" class="btn"> Back To The Top Of The Page </a></li>
    </ul>





{% endblock %}

